[Unit]
Description=Tg2TelDrive Sync Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/Tg2TelDrive
ExecStart=/opt/myenv/bin/python /opt/Tg2TelDrive/main.py
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
