[Unit]
Description=Tg2TelDrive Sync Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/Tel2TelDrive
ExecStart=/opt/Tel2TelDrive/.venv/bin/python /opt/Tel2TelDrive/main.py
Restart=on-failure
RestartSec=10


[Install]
WantedBy=multi-user.target
